#task_table {
  width: 100%;
}

#task_table thead th:nth-child(1) {
  width: 10rem;
}

#task_table thead th:nth-child(3) {
  width: 11rem;
}

#task_table tbody tr:hover {
  background-color: #f1f1f1;
}

#task_table tbody td:has(> button) {
  padding: 0 1rem;
}