<!DOCTYPE html>
<html lang="ja" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Simple TODO</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sakura.css/css/sakura.css" type="text/css">
    <link rel="stylesheet" href="css/tasks.css">
</head>
<body>
<main>
    <h1>Simple TODO</h1>

    <section>
        <h2>新規登録</h2>

        <form method="post" th:action="@{/tasks}" class="inline">
            <input name="description" type="text" required/>
            <button type="submit">登録</button>
        </form>
    </section>

    <section>
        <h2>一覧</h2>

        <table id="task_table">
            <thead>
            <tr>
                <th>ID</th>
                <th>内容</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="task : ${tasks}" th:object="${task}">
                <td th:text="*{id}"></td>
                <td th:text="*{description}"></td>
                <td>
                    <th:block th:if="not *{isCompleted}">
                        <form th:action="@{/tasks/complete}" method="post">
                            <input name="taskId" type="hidden" th:value="*{id}">
                            <button type="submit">完了</button>
                        </form>
                        <form th:action="@{/tasks/delete}" method="post">
                            <input name="taskId" type="hidden" th:value="*{id}">
                            <button type="submit">削除</button>
                        </form>
                    </th:block>
                    <th:block th:if="*{isCompleted}">
                        完了済み
                    </th:block>
                </td>
            </tr>
            </tbody>
        </table>
    </section>
    <script th:inline="javascript">
        var errorMessage = /*[[${errorMessage}]]*/ '';
        if (errorMessage) {
            alert(errorMessage);
        }
    </script>
</main>
</body>
</html>